@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.start-quiz{
    text-align: center;
    width: 50%;
    button {
        padding: 8px 5px;
        cursor: pointer;
        background-color: skyblue;
        border-radius: 5px;
        border: none;
    }
    h1{
        font-family: "Lobster", cursive;
    }
    h2{
        
        font-family: 'Carattere', cursive;
    }
}